
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <a href="@Url.Action("LogOut","Home")"> LogOut </a>

    <h1> Welcome @User.Identity.Name!</h1>
</body>
</html>
